* {
    padding: 0px;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.calculadora {
    background-color: #1A2F5A;
    width: fit-content;
    margin: auto;
    margin-top: 35px;
}
.sr {
    padding: 0px 18px 18px 18px;
    
}

.sr button{
    width: 100%;
    background-color: #48c;
    color: #fff;
    border: none;
}

.teclas {
    display: flex;
}

.pantalla {
    padding: 18px 18px 0px 18px;
}

.numeros {
    padding: 18px 9px 18px 18px;
}

.op {
    padding: 18px 18px 18px 9px;
}

#resultado {
    background-color: #666;
    color: rgb(240, 232, 232);
    padding: 9px;
    
}
li {
    background: rgb(240, 98, 4);
    width: 300px;
    height: 20px;
    display: inline-block;
    padding: 10px;
    
}
a { 
    font-size: 25px;
    color: black;
    text-decoration: none;
    margin: 0px 3px 4px 0px;
    padding: 10px 20px;
    
}

a:hover {
    color: blanchedalmond;
    text-decoration: underline;
    background: coral;
}


.op button {
    display: block;
    width: 54px;
    height: 54px;
    padding: 9px 15px;
    background-color: #000;
    color: #fff;
    border: none;
}

.numeros div{
text-align: center;
}

.numeros button {
    border: 0px;
    background-color: #fff;
    transition: all 0.02s;
}

.numeros button:hover {
    box-shadow: 0px 0px 12px #ccc;
}

button {
    margin: 2px;
    padding: 15px 24px;
    font-size: 19px;
}
body {
    background: url(../imagenes/fondo.jpg);
    background-attachment: fixed;

