article {
    height: auto;
    width: 300px;
    background: #EE6A14;
    display: inline-block;
    margin: 20px 40px;
    padding: 10px;
    text-align: center;
}
body {
    background: url(../imagenes/fondo.jpg);
    background-attachment: fixed;
}
li {
    background: rgb(240, 98, 4);
    width: 300px;
    height: 20px;
    display: inline-block;
    padding: 10px;
    
}
a { 
    font-size: 25px;
    color: black;
    text-decoration: none;
    margin: 0px 3px 4px 0px;
    padding: 10px 20px;
    
}

a:hover {
    color: blanchedalmond;
    text-decoration: underline;
    background: coral;
}
